<section class="ht-section hs-posts grid">
    <h2 class="sr-only">Post List</h2>
    <div class="container">
        <div class="row">
            <div class="ht-masonry-layout">
                <article class="entry pf-image col-xs-12 col-sm-4">
                    <a href="#meals/category/mediterranean">
                        <div class="entry-inner">
                            <div class="entry-post-format">
                                <br/>
                                <ul class="meta-categories">
                                    <li>MEDITERRANEAN FOOD</li>
                                </ul>
                                <br/>
                            </div>
                            <div class="entry-media">
                                <img src="images/medi-food.jpg" height="250px" width="100%" alt="">
                            </div>
                        </div>
                    </a>
                </article>

                <article class="entry pf-video col-xs-12 col-sm-4">
                    <a href="#meals/category/asian">
                        <div class="entry-inner">
                            <div class="entry-post-format">
                                <br/>
                                <ul class="meta-categories">
                                    <li>ASIAN FOOD</li>
                                </ul>
                                <br/>
                            </div>
                            <div class="entry-media">
                                <img src="images/asian-food.jpg" height="250px" width="100%" alt="">
                            </div>
                        </div>
                    </a>
                </article>

                <article class="entry  col-xs-12 col-sm-4">
                    <a href="#meals/category/vegetarian">
                        <div class="entry-inner">
                            <div class="entry-post-format">
                                <br/>
                                <ul class="meta-categories">
                                    <li>VEGETARIAN FOOD</li>
                                </ul>
                                <br/>
                            </div>
                            <div class="entry-media">
                                <img src="images/vegetarian-food.png" height="250px" width="100%" alt="">
                            </div>
                        </div>
                    </a>
                </article>

                <article class="entry pf-gallery col-xs-12 col-sm-4">
                    <a href="#meals/category/french">
                        <div class="entry-inner">
                            <div class="entry-post-format">
                                <br/>
                                <ul class="meta-categories">
                                    <li>FRENCH FOOD</li>
                                </ul>
                                <br/>
                            </div>
                            <div class="entry-media">
                                <img src="images/french.jpg" height="250px" width="100%" alt="">
                            </div>
                        </div>
                    </a>
                </article>

                <article class="entry pf-gallery col-xs-12 col-sm-4">
                    <a href="#meals/category/british">
                        <div class="entry-inner">
                            <div class="entry-post-format">
                                <br/>
                                <ul class="meta-categories">
                                    <li>BRITISH FOOD</li>
                                </ul>
                                <br/>
                            </div>
                            <div class="entry-media">
                                <img src="images/british-food.jpg" height="250px" width="100%" alt="">
                            </div>
                        </div>
                    </a>
                </article>

                <article class="entry pf-video col-xs-12 col-sm-4">
                    <a href="#meals/category/indian">
                        <div class="entry-inner">
                            <div class="entry-post-format">
                                <br/>
                                <ul class="meta-categories">
                                    <li>INDIAN FOOD</li>
                                </ul>
                                <br/>
                            </div>
                            <div class="entry-media">
                                <img src="images/indian-food.jpg" height="250px" width="100%" alt="">
                            </div>
                        </div>
                    </a>
                </article>
            </div>
        </div>
    </div>
</section>