<section class="ht-section hs-posts grid">
    <h2 class="sr-only">Post List</h2>
    <div class="container">
        <div class="row">
            <div class="ht-masonry-layout">
                <article class="entry pf-image col-xs-12 col-sm-4">
                    <div class="entry-inner">
                        <div class="entry-post-format">
                            <br/>
                            <ul class="meta-categories">
                                <li><a href="/category/mediterranean">MEDITERRANEAN FOOD</a></li>
                            </ul>
                            <br/>
                        </div>
                        <!-- / .entry-post-format -->
                        <div class="entry-media">
                            <img src="images/medi-food.jpg" height="250px" alt="">
                        </div>

                        <!-- entry-meta -->

                        <!-- entry-meta -->
                    </div>
                    <!-- / .entry-inner -->
                </article>

                <article class="entry pf-video col-xs-12 col-sm-4">
                    <div class="entry-inner">
                        <div class="entry-post-format">
                            <br/>
                            <ul class="meta-categories">
                                <li><a href="/category/asian">ASIAN FOOD</a></li>
                            </ul>
                            <br/>
                        </div>
                        <!-- / .entry-post-format -->
                        <div class="entry-media">
                            <img src="images/asian-food.jpg" height="250px" alt="">
                        </div>

                        <!-- entry-meta -->

                        <!-- entry-meta -->
                    </div>
                    <!-- / .entry-inner -->
                </article>
                <!-- / .entry -->
                <article class="entry  col-xs-12 col-sm-4">
                    <div class="entry-inner">
                        <div class="entry-post-format">
                            <br/>
                            <ul class="meta-categories">
                                <li><a href="/category/vegetarian">VEGETARIAN FOOD</a></li>
                            </ul>
                            <br/>
                        </div>
                        <!-- / .entry-post-format -->
                        <div class="entry-media">
                            <img src="images/vegetarian-food.png" height="250px" alt="">
                        </div>
                    </div>
                    <!-- / .entry-inner -->
                </article>

                <!-- / .entry -->

                <!-- / .entry -->
                <article class="entry pf-aside col-xs-12 col-sm-4">
                    <div class="entry-inner">
                        <div class="entry-post-format">
                            <br/>
                            <ul class="meta-categories">
                                <li><a href="/category/french">FRENCH FOOD</a></li>
                            </ul>
                            <br/>
                        </div>
                        <div class="entry-media">
                            <img src="images/french.jpg" height="250px" alt="">
                        </div>
                    </div>
                </article>

                <article class="entry pf-gallery col-xs-12 col-sm-4">
                    <div class="entry-inner">
                        <div class="entry-post-format">
                            <br/>
                            <ul class="meta-categories">
                                <li><a href="/category/british">BRITISH FOOD</a></li>
                            </ul>
                            <br/>
                        </div>
                        <div class="entry-media">
                            <img src="images/british-food.jpg" height="250px" alt="">
                        </div>
                    </div>
                </article>

                <article class="entry pf-video col-xs-12 col-sm-4">
                    <div class="entry-inner">
                        <div class="entry-post-format">
                            <br/>
                            <ul class="meta-categories">
                                <li><a href="/category/indian">INDIAN FOOD</a></li>
                            </ul>
                            <br/>
                        </div>
                        <div class="entry-media">
                            <img src="images/indian-food.jpg" height="250px" alt="">
                        </div>
                    </div>
                </article>
                <!-- / .entry -->
            </div>
            <!-- / .columns -->
        </div>
        <!-- / .row -->
        <p class="text-center">
            <a href="post_single.html" class="ht-button view-more-button">
                <i class="fa fa-arrow-left"></i> VIEW MORE <i class="fa fa-arrow-right"></i>
            </a>
        </p>
        <!-- /. ht-pager -->
    </div>
    <!-- / .container -->
</section>