<section class="ht-section hs-recipe submit">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8">
                <div ng-controller="editMealController">
                    <div class="hs-header text-left">
                        <h2>Welcome back, Recipe Contributor!</h2>
                        <p>In this section you can submit one recipe of your choice, make sure to give any detailed information so other users can enjoy your creation.</p>
                        <hr>
                    </div>
                    <div class="hs-content">
                        <form class="row"  name="recipeForm">
                            <div class="form-group col-sm-6">
                                <label>Recipe title</label>
                                <input type="text" name="title" ng-model="name" class="input" required>
                                <p ng-show="recipeForm.title.$error.required" class="help-block">Title required.</p>
                                <p class="des">Keep it short and descriptive</p>
                            </div>
                            <div class="form-group col-sm-12">
                                <label>Recipe photo</label><br/>
                                <div class="col-sm-4" style="padding-left:0;">
                                    <file-field class="button-add" name="picture" ng-model="uploadFile" ng-class="{'button-add':uploadFile}" preview="previewImage">Select File</file-field>
                                </div>
                                <div class="col-sm-4" ng-show="previewImage">
                                    <h3>Preview</h3>
                                    <img ng-src="{{previewImage}}" width="200" style="border: 1px solid black">
                                    <br>
                                    {{uploadFile.name}}
                                </div>

                                <!--<input type="file"  name="picture" id="photo-upload" class="upload-visible"  file-model="myFile" class="sr-only" multiple ng-disabled="disabled" required>
                                <div class="upload" data-target="#photo-upload">
                                        <span class="btn btn-success fileinput-button" ng-class="{disabled: disabled}">
                                            <i class="glyphicon glyphicon-plus"></i>
                                        </span>
                                </div>
                                <p ng-show="recipeForm.picture.$error.required" class="help-block">Picture required.</p>
                                <p class="des">Recommended size: 2000px by 600px or larger</p>-->
                            </div>


                            <div class="form-group col-sm-12">
                                <label>Recipe video</label>
                                <input type="text" ng-model="video" class="input">
                                <p class="des"><b>OPTIONAL:</b> If you have your recipe video on Youtube, Vimeo, or any of the other supported Embed sites, then you'll want to use the field above. Just paste in the URL (ex. http://youtu.be/1O8D_wTCm3s or https://vimeo.com/26140401) and it will show up as a popup by clicking the recipe image.</p>
                            </div>
                            <div class="form-group col-sm-12">
                                <label>Difficulty level</label>
                                <select name="difficulty" ng-model="difficulty" required>
                                    <option value="easy">Easy</option>
                                    <option value="hard">Hard</option>
                                    <option value="master">Master</option>
                                </select>
                                <p ng-show="recipeForm.difficulty.$error.required" class="help-block">Difficulty required.</p>
                            </div>
                            <div class="form-group col-sm-4">
                                <label>RECIPE CATEGORY</label>
                                <select ng-model="category" name="category" required>
                                    <option value="" disabled selected>Choose category</option>
                                    <option value="Mediterranean">Mediterranean</option>
                                    <option value="Asian">Asian</option>
                                    <option value="Vegeterian">Vegeterian</option>
                                    <option value="French">French</option>
                                    <option value="British">British</option>
                                    <option value="Indian">Indian</option>
                                </select>
                                <p ng-show="recipeForm.category.$error.required" class="help-block">Category required.</p>
                            </div>
                            <div class="form-group col-sm-12">
                                <label>Short description</label>
                                <textarea cols="30" rows="10" name="description" ng-model="description" class="input" required></textarea>
                                <p ng-show="recipeForm.description.$error.required" class="help-block">Description required.</p>
                            </div>
                            <div class="form-group col-sm-6">
                                <label>cook time</label>
                                <input type="text" name="time" id="cook-time" value="0" ng-model="cooktime" required/>
                                <p ng-show="recipeForm.time.$error.required" class="help-block">Time required.</p>
                                <p class="des">Enter time in minutes.</p>
                            </div>
                            <div class="form-group col-sm-12">
                                <label>Ingredient</label>
                                <div class="ingredient-textarea">
								<span class="col-md-11" style="padding:0">
									<input ng-model="ingredientInput" id="test" type="text" class="col-md-8" placeholder="Add an ingredient" my-enter="addIngredient()">
								</span>
								<span class="input-group-btn col-md-1" style="padding:0;padding-left:1px;">
									<button  ng-click="addIngredient()" type="button" class="button-add" style="width:100%;padding:0;"> ADD </button>
								</span>
                                </div>
                                <table class="table table-condensed table-striped table-hover">
                                    <tr ng-repeat="item in ingredients" ng-init="ningredient=$parent.start+1; $parent.start=$parent.start+1;">
                                        <td class="col-md-11" style="padding-left:8px;">{{item.val}}</td>
                                        <td ng-click="deleteIngredient($ningredient)" class="col-md-1 button-delete" type="button" style="padding:0;border-left:none;text-align:center;padding-top:2px;cursor:pointer">
                                            <span style="display:block;height:100%;vertical-align:middle;"><i ng-click="deleteIngredient($ningredient)" class="material-icons" style="vertical-align:middle;margin-left:5px;cursor:inherit;color:white">delete</i></span>
                                        </td>
                                    </tr>
                                </table>

                                <!--<span ng-repeat="item in ingredients" ng-init="ningredient=$parent.start+1; $parent.start=$parent.start+1;" style="background-color:#22FF22;margin:10px 5px;padding:8px 8px 8px 12px;border-radius:50px;">
                                    <span style="vertical-align:middle">{{item.val}}</span>
                                    <i ng-click="deleteIngredient($ningredient)" class="material-icons" style="vertical-align:middle;margin-left:5px;cursor:pointer">clear</i>
                                </span>

                                <div class="ingredient-textarea">
                                    <textarea cols="30" rows="10" name="ingredient" ng-model="ingredients" class="input" required></textarea>
                                    <p ng-show="recipeForm.ingredient.$error.required" class="help-block">Ingredient required.</p>
                                </div>-->



                                <p class="des">Enter the different ingredients with a clear name. Separate all different ingredients per a coma. If you need to give a special information, add it between two parentheses.</p>
                            </div>
                            <div class="form-group col-sm-12">
                                <label>Instruction</label>
                                <div class="instruction-textarea">
                                    <textarea cols="30" rows="10" name="instruction" ng-model="instruction" required></textarea>
                                    <p ng-show="recipeForm.instruction.$error.required" class="help-block">Instruction required.</p>
                                </div>
                                <p class="des">Add all of the cooking steps, one per line.</p>
                            </div>
                            <div class="form-group col-sm-12">
                                <label>NutrionFact</label>
                                <div class="instruction-textarea">
                                    <textarea cols="30" rows="10" name="nutritionfact" ng-model="nutritionfact" ></textarea>
                                </div>
                                <p class="des">Add all of the cooking steps, one per line.</p>
                            </div>
                            <div class="col-sm-12">
                                <button  ng-click="updateMeal()" class="ht-button view-more-button" >
                                    <i class="fa fa-arrow-left"></i> SUBMIT <i class="fa fa-arrow-right"></i>
                                </button>
                            </div>
                        </form>
                        <!-- / form -->
                    </div>
                </div>
                <!-- / .hs-content -->
            </div>
            <!-- / .columns -->
        </div>
    </div>
    <!-- /.container -->
</section>