<div ng-if="token==null">

	<section class="ht-section hs-parallax hs-features" style="background-image: url('images/parallax/1.jpg')" data-ht-parallax="500">
		<div class="overlay" style="background-color: rgba(0,0,0,.5);"></div>
		<header class="hs-header">
			<div class="container">
				<h2 class="heading">NUTRIFOOD FEATURES</h2>
				<p class="sub-heading">Difference features who will help you in your daily life.</p>
			</div>
		</header>
		<div class="hs-content">
			<div class="container">
				<div class="row">
					<div class="entry col-xs-12 col-sm-4">
						<p><i class="fa fa-bar-chart"></i></p>
						<h3 class="entry-name">FOOD NUTRITIONS</h3>
						<p class="entry-text">Different details about food nutrition, specialities and medical aspect are provided and well detailed on each category and recipe.</p>
					</div>
					<div class="entry col-xs-12 col-sm-4">
						<p><i class="fa fa-clock-o"></i></p>
						<h3 class="entry-name">COOKING PERIOD</h3>
						<p class="entry-text">All the steps that you need to cook and succeed every meal on our websites, submitted per our community, or professional like us.</p>
					</div>
					<div class="entry col-xs-12 col-sm-4">
						<p><i class="fa fa-users"></i></p>
						<h3 class="entry-name">MEMBERSHIP</h3>
						<p class="entry-text">Join our strong community who share and talk about recipes from all other the world. It's free so do not hesitate and joins us !</p>
					</div>
				</div>
			</div>
			<!-- /.container -->
		</div>
		<!-- /.hs-content -->
	</section>

	<section class="ht-section hs-recipes grid">
			<div class="hs-content">
				<div class="container">
					<div class="row">
						<div class="entry col-xs-6">
							<p class="entry-text">Already have an account, please sign in !</p>
							<a href="#login">
							<button  class="ht-button view-more-button" >
								<i class="fa fa-arrow-left"></i> LOGIN <i class="fa fa-arrow-right"></i>
							</button>
							</a>
						</div>
						<div class="entry col-xs-6">
							<p class="entry-text">Not yet a user, it only takes two minutes to create an account !</p>
							<a href="#register">
							<button class="ht-button view-more-button">
								<i class="fa fa-arrow-left"></i> SIGN UP <i class="fa fa-arrow-right"></i>
							</button>
							</a>
						</div>
					</div>
				</div>
			</div>
	</section>

	<section class="ht-section hs-editors grid">
		<header class="hs-header">
			<div class="container">
				<h2 class="heading">DEVELOPERS TEAM</h2>
				<p class="sub-heading">Here they are, the people behind the succeess of nutrifood.</p>
			</div>
		</header>
		<div class="hs-content">
			<div class="container">
				<div class="row">
					<!-- /.entry -->
					<div class="col-xs-6 col-sm-4">
						<div class="entry-media">
							<div class="thumb">
								<img src="images/author/2.jpg" alt="">
							</div>
						</div>
						<h3 class="entry-name">EMRAH YILMAZ</h3>
						<p class="entry-position">FRONT/BACK END DEV</p>
						<div class="entry-social">
							<div class="entry-social-inner">
								<a href="#" class="fa fa-facebook"></a>
								<a href="#" class="fa fa-twitter"></a>
								<a href="#" class="fa fa-youtube"></a>
							</div>
						</div>
					</div>
					<!-- /.entry -->
					<div class="col-xs-6 col-sm-4">
						<div class="entry-media">
							<div class="thumb">
								<img src="images/author/1.gif" alt="">
							</div>
						</div>
						<h3 class="entry-name">DAMIEN HASSLER</h3>
						<p class="entry-position">BACK/FRONT END DEV</p>
						<div class="entry-social">
							<div class="entry-social-inner">
								<a href="#" class="fa fa-facebook"></a>
								<a href="#" class="fa fa-twitter"></a>
								<a href="#" class="fa fa-youtube"></a>
							</div>
						</div>
					</div>
					<!-- /.entry -->
					<div class="col-xs-6 col-sm-4">
						<div class="entry-media">
							<div class="thumb">
								<img src="images/author/5.gif" alt="">
							</div>
						</div>
						<h3 class="entry-name">KEVIN RUTTEN</h3>
						<p class="entry-position">FRONT END DEV</p>
						<div class="entry-social">
							<div class="entry-social-inner">
								<a href="#" class="fa fa-facebook"></a>
								<a href="#" class="fa fa-twitter"></a>
								<a href="#" class="fa fa-youtube"></a>
							</div>
						</div>
					</div>
					<!-- /.entry -->
				</div>
				<!--<p class="text-center">
					<a href="editors_grid.html" class="ht-button view-more-button">
						<i class="fa fa-arrow-left"></i> VIEW ALL EDITORS <i class="fa fa-arrow-right"></i>
					</a>
				</p>-->
			</div>
			<!-- /.container -->
		</div>
		<!-- /.hs-content -->
	</section>
</div>

<div ng-if="token!=null">
<section class="hs-slider carousel flexslider basic"
         data-auto="true"
         data-effect="fade"
         data-navi="true"
         data-pager="true"
         data-slide-speed="5000"
         data-animation-speed="1000"
        >

    <ul class="slides">
        <li style="background-image: url('images/slides/1.jpg')" data-ht-parallax="500">
            <div class="overlay"></div>
            <div class="slide-content-wrapper container">
                <div class="slide-content">
                    <h3 class="entry-big">Being Smart Chef Every Day with Nutrifood</h3>
                </div>
            </div>
        </li>
        <!--<li style="background-image: url('images/slides/2.jpg')" data-ht-parallax="500">
            <div class="overlay"></div>
            <div class="slide-content-wrapper container">
                <div class="slide-content">
                    <h3 class="entry-big">Food from every country</h3>
                    <p class="entry-small">Asian food, French food ...</p>
                    <a class="entry-button" href="recipe_index.html">SEE ALL CATEGORY</a>
                </div>
            </div>
        </li>
        <li style="background-image: url('images/slides/3.jpg')" data-ht-parallax="500">
            <div class="overlay"></div>
            <div class="slide-content-wrapper container">
                <div class="slide-content">
                    <h3 class="entry-big">Being Smart Chef Every Day</h3>
                    <p class="entry-small">10 RECIPES EVERY WEEK UPDATES</p>
                    <a class="entry-button" href="recipe_index.html">SEE ALL RECIPES</a>
                </div>
            </div>
        </li>-->
    </ul>
</section>

<!-- / .hs-recent-posts -->


<!-- /.ht-section -->

<section class="ht-section hs-recipes grid">
	<header class="hs-header">
		<div class="container">
			<h2 class="heading">Recent recipes</h2>
		</div>
		<ul class="isotope-filter" data-target="#grid-2">
			<li class="is-filtered"><a href="#" data-filter="*">ALL</a></li>
			<li ng-if="noCategory==null"><a data-filter=".filter-asian">Asian</a></li>
			<li ng-if="noCategory==null"><a data-filter=".filter-mediterranean">Mediterranean</a></li>
			<li ng-if="noCategory==null"><a data-filter=".filter-french">French</a></li>
			<li ng-if="noCategory==null"><a data-filter=".filter-british">British</a></li>
			<li ng-if="noCategory==null"><a data-filter=".filter-vegetarian">Vegetarian</a></li>
			<li><a href="#" data-filter=".filter-indian">Indian</a></li>
			<li><a href="#" data-filter=".filter-easy">Easy</a></li>
			<li><a href="#" data-filter=".filter-hard">Hard</a></li>
			<li><a href="#" data-filter=".filter-master">Master</a></li>
		</ul>
	</header>


	<div class="hs-content">
		<div class="container">
			<div class="row">
				<div class="isotope-grid" id="grid-2">

					<div ng-repeat="meal in meals">

					<div class="entry col-xs-12 col-sm-4  filter-{{meal.difficulty}} filter-{{meal.category}}">
						<div class="entry-inner">
							<div class="entry-media">
								<img ng-src="/api/v1/meals/image/{{meal.image}}" alt="" />
									<div class="entry-action">
										<div class="entry-action-inner">
											<span>
												<a href="#meal/{{meal._id}}">
													VIEW RECIPE
												</a>
											</span>
										</div>
									</div>
							</div>

							<!-- ./ entry-media -->
							<div class="content-wrapper">
								<h3 class="entry-name"><a href="#meal/{{meal._id}}">{{meal.name}}</a></h3>
								<p class="entry-author">By {{meal.author}}</p><br/>
								<p class="entry-author">{{meal.description}}</p>
								<div class="entry-meta">
									<div class="foo-wrapper">
										<span class="meta-difficulty {{meal.difficulty}}" title="">{{meal.difficulty}}</span>
										<span class="meta-time">{{meal.cooktime}}</span>
									</div><br/>
									<div class="meta-rate">
										<i ng-if="meal.vote>0" class="fa fa-star rated"></i>
										<i ng-if="meal.vote>1" class="fa fa-star rated"></i>
										<i ng-if="meal.vote>2" class="fa fa-star rated"></i>
										<i ng-if="meal.vote>3" class="fa fa-star rated"></i>
										<i ng-if="meal.vote==5" class="fa fa-star rated"></i>
										<i ng-if="meal.vote==0" class="fa fa-star"></i>
										<i ng-if="meal.vote<=1" class="fa fa-star"></i>
										<i ng-if="meal.vote<=2" class="fa fa-star"></i>
										<i ng-if="meal.vote<=3" class="fa fa-star"></i>
										<i ng-if="meal.vote<=4" class="fa fa-star"></i>
									</div>
								</div>
							</div>
							<!-- ./ entry-content -->
						</div>
						<!-- /.entry-inner -->
					</div>
					</div>
				</div>
				<!-- / .isotope-entry -->
			</div>
			<!-- /.row -->
			<p class="text-center">
				<a href="#meals" class="ht-button view-more-button">
					<i class="fa fa-arrow-left"></i> VIEW MORE RECIPES <i class="fa fa-arrow-right"></i>
				</a>
			</p>
		</div>
		<!-- /.container -->
	</div>
	<!-- /.ht-products.grid -->
</section>
	</div>
</div>
<!-- /.ht-section -->