 <section class="ht-section hs-recipes grid">
        <div class="hs-content">
            <div class="container">
                <div class="row">
                    <div class="login-form col-md-offset-2 col-md-8 ">
                        <h2>Login</h2>
                        <div ng-controller="loginController">
                        <form method="post" name="loginForm">

                            <p class="login-username">
                                <label>Username</label>
                                <input type="text" name="username" class="input" ng-model="username" size="20" required>
                            <p ng-show="loginForm.username.$error.required" class="help-block">Username required.</p>
                            <!--<p class="des">Please fill every field.</p>-->
                            </p>
                            <p class="login-password">
                                <label>Password</label>
                                <input type="password" name="password" class="input" ng-model="password" size="20" required>
                            <p ng-show="loginForm.password.$error.required" class="help-block">Password required.</p>
                            <!--<p class="des">Please fill every field</p>-->
                            </p>

                            <p class="login-remember"><label><input name="rememberme" type="checkbox" id="rememberme" value="forever"> Remember Me</label></p>
                            <p class="login-submit">
                                <input type="submit" ng-click="login()"  class="button-primary" value="Log In">
                            </p>
                        </form>
                        </div>
                        
                    </div>
                </div><!--./row-->


            </div><!--./container-->
        </div><!--./hs-content-->
    </section>