

<section class="ht-section hs-recipes grid">
	<header class="hs-header">
		<div class="container">
			<h2 class="heading">{{title}}</h2>
		</div>
		<ul class="isotope-filter" data-target="#grid-2">
			<li class="is-filtered"><a href="#" data-filter="*">ALL</a></li>
			<li ng-if="noCategory==null"><a data-filter=".filter-asian">Asian</a></li>
			<li ng-if="noCategory==null"><a data-filter=".filter-mediterranean">Mediterranean</a></li>
			<li ng-if="noCategory==null"><a data-filter=".filter-french">French</a></li>
			<li ng-if="noCategory==null"><a data-filter=".filter-british">British</a></li>
			<li ng-if="noCategory==null"><a data-filter=".filter-vegetarian">Vegetarian</a></li>
			<li><a href="#" data-filter=".filter-indian">Indian</a></li>
			<li><a href="#" data-filter=".filter-easy">Easy</a></li>
			<li><a href="#" data-filter=".filter-hard">Hard</a></li>
			<li><a href="#" data-filter=".filter-master">Master</a></li>
		</ul>

	</header>
	<div class="hs-content">
		<div class="container">
			<div ng-if="meals.length==0" style="height:450px;"><h3 style="text-align:center;">Nothing to show</h3></div>
			<div class="row">
				<div class="isotope-grid" id="grid-2">

					<div ng-repeat="meal in meals">

					<div class="entry col-xs-12 col-sm-4 col-md-4 filter-{{meal.difficulty}} filter-{{meal.category}}">
						<div class="entry-inner">
							<div class="entry-media">
								<img ng-src="/api/v1/meals/image/{{meal.image}}" alt=""/>
								<div class="entry-action">
									<div class="entry-action-inner">
										<span>
											<a href="#meal/{{meal._id}}">VIEW RECIPE</a>
										</span>
									</div>
								</div>
							</div>
							<!-- ./ entry-media -->
							<div class="content-wrapper">
								<h3 class="entry-name"><a href="#meal/{{meal._id}}">{{meal.name | uppercase}}</a></h3>
								<p class="entry-author">By {{meal.author}}</p><br/>
								<p class="entry-author">{{meal.description}}</p>
								<div class="entry-meta">
									<div class="foo-wrapper">
										<span class="meta-difficulty {{meal.difficulty}}" title="">{{meal.difficulty}}</span>
										<span class="meta-time">{{meal.cooktime}}</span>
									</div>
									<div class="meta-rate" title="4 star">
										<i ng-if="meal.vote>0" class="fa fa-star rated" ></i>
										<i ng-if="meal.vote>1" class="fa fa-star rated" ></i>
										<i ng-if="meal.vote>2" class="fa fa-star rated" ></i>
										<i ng-if="meal.vote>3" class="fa fa-star rated" ></i>
										<i ng-if="meal.vote==5" class="fa fa-star rated" ></i>
										<i ng-if="meal.vote==0" class="fa fa-star" ></i>
										<i ng-if="meal.vote<=1" class="fa fa-star" ></i>
										<i ng-if="meal.vote<=2" class="fa fa-star" ></i>
										<i ng-if="meal.vote<=3" class="fa fa-star" ></i>
										<i ng-if="meal.vote<=4" class="fa fa-star" ></i>

									</div>
								</div>
							</div>
							<!-- ./ entry-content -->
						</div>
						<!-- /.entry-inner -->
					</div>
					<!-- /.entry -->

					</div>
					<!-- /.entry -->
				</div>
				<!-- / .isotope-entry -->
			</div>
			<!-- /.row
			<p class="text-center">
				<a href="../../../temp/recipe_index.html" class="ht-button view-more-button">
					<i class="fa fa-arrow-left"></i> VIEW MORE RECIPES <i class="fa fa-arrow-right"></i>
				</a>
			</p>-->
		</div>
		<!-- /.container -->

	</div>
	<!-- /.ht-products.grid -->
</section>
<!-- /.ht-section -->
