<div ng-controller="myMealsController">

    <section class="ht-section hs-archives">
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8 col-sm-8">
                    <div class="hs-header text-left">
                        <h2 class="heading divider"><span class="inner">My Meals</span></h2>
                    </div>
                    <div class="hs-content">
                        <div ng-repeat="meal in meals">
                        <article class="post-archive">
                            <div class="entry-media">
                                <a href="#"><img ng-src="/api/v1/meals/image/{{meal.image}}" alt=""></a>
                            </div>
                            <div class="entry-content">
                                <h3 class="title"><a href="#/meal/{{meal._id}}">{{meal.name | uppercase}}</a></h3>
                                <p class="meta-time">{{meal.author}}</p>
                                <p class="brief">{{meal.description}}</p>
                                <div class="meta">

                                   <img ng-click="deleteMeal(meal._id)" class="pull-right"  src="../images/delete.png"  style="cursor: pointer" height="50px">
                                    <p class="pull-right" style="padding-left: 5px; padding-right: 5px;"></p>
                                    <a href="#/edit-recipe/{{meal._id}}"> <img   class="pull-right"  src="../images/interface.png" height="50px">
                                    </a>
                                </div>


                            </div>

                        </article>

                        </div>
                        <!-- / .post -->

                        <!-- / .post -->
                    </div>
                </div>
                <!-- / columns -->

                <!-- / columns -->
            </div>

            <!-- / .row -->
        </div>
        <!-- / .container -->
    </section>




    <p>{{meal.author}}</p>
    <p>{{meal.description}}</p>

</div>