<div class="ht-section hs-contributor">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-8">
				<div class="hs-content">
					<div class="contributor">
						<div class="entry-media">
							<span class="inner">
								<img src="../../../../../../../Desktop/culinier/images/author/1.jpg" alt="">
							</span>
						</div>
						<div class="entry-description">
							<h2 class="heading">JOCKO MUNANDAR</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt facere maxime harum in optio enim. Voluptatibus modi tempora, saepe neque. Delectus repudiandae, sed dolor. Ut, ipsam corporis velit quis quae.</p>
							<p class="connect"><span>Connect with Joko Munandar</span> <a href="#" class="fa fa-facebook"></a> <a href="#" class="fa fa-twitter"></a> <a href="#" class="fa fa-google-plus"></a> <a href="#" class="fa fa-linkedin"></a> <a href="#" class="fa fa-youtube"></a></p>
						</div>
					</div>

					<div class="main-content">
						<ul class="nav-tab" role="tablist">
							<li role="presentation" class="active">
								<a href="#hc-tab-recipes" aria-controls="hc-tab-recipes" role="tab" data-toggle="tab">Receipt <span class="count">(5)</span></a>
							</li>
							<li role="presentation">
								<a href="#hc-tab-bookmarks" aria-controls="hc-tab-bookmarks" role="tab" data-toggle="tab">Bookmark <span class="count">(5)</span></a>
							</li>
						</ul>
						<!-- Tab panes -->
						<div class="tab-content">

							<div role="tabpanel" class="tab-pane fade" id="hc-tab-recipes">
								<article class="recipe">
									<div class="entry-inner">
										<div class="entry-media">
											<img src="../../../../../../../Desktop/culinier/images/dishes/dish_2.jpg" alt=""/>
											<div class="entry-action">
												<div class="entry-action-inner">
													<span>
														<a href="../../../../../../../Desktop/culinier/recipe_single.html">VIEW RECIPE</a>
													</span>
													<span>
														<a href="#">BOOKMARK RECIPE</a>
													</span>
												</div>
											</div>
										</div>
										<!-- ./ entry-media -->
										<div class="content-wrapper">
											<h3 class="entry-name"><a href="../../../../../../../Desktop/culinier/recipe_single.html">Khatulistiwa Fruit Salad</a></h3>
											<p class="entry-author">By Lina Sukowati</p>
											<div class="entry-meta">
												<div class="foo-wrapper">
													<span class="meta-difficulty hard" title="">Hard</span>
													<span class="meta-time">3 minutes</span>
												</div>
												<div class="meta-rate" title="4 star">
													<i class="fa fa-star rated"></i>
													<i class="fa fa-star rated"></i>
													<i class="fa fa-star rated"></i>
													<i class="fa fa-star rated"></i>
													<i class="fa fa-star"></i>
												</div>
											</div>
										</div>
										<!-- ./ entry-content -->
									</div>
									<!-- / .entry-inner -->
								</article>
								<!-- / .recipe -->
								<article class="recipe">
									<div class="entry-inner">
										<div class="entry-media">
											<img src="../../../../../../../Desktop/culinier/images/dishes/dish_2.jpg" alt=""/>
											<div class="entry-action">
												<div class="entry-action-inner">
													<span>
														<a href="../../../../../../../Desktop/culinier/recipe_single.html">VIEW RECIPE</a>
													</span>
													<span>
														<a href="#">BOOKMARK RECIPE</a>
													</span>
												</div>
											</div>
										</div>
										<!-- ./ entry-media -->
										<div class="content-wrapper">
											<h3 class="entry-name"><a href="../../../../../../../Desktop/culinier/recipe_single.html">Khatulistiwa Fruit Salad</a></h3>
											<p class="entry-author">By Lina Sukowati</p>
											<div class="entry-meta">
												<div class="foo-wrapper">
													<span class="meta-difficulty hard" title="">Hard</span>
													<span class="meta-time">3 minutes</span>
												</div>
												<div class="meta-rate" title="4 star">
													<i class="fa fa-star rated"></i>
													<i class="fa fa-star rated"></i>
													<i class="fa fa-star rated"></i>
													<i class="fa fa-star rated"></i>
													<i class="fa fa-star"></i>
												</div>
											</div>
										</div>
										<!-- ./ entry-content -->
									</div>
									<!-- / .entry-inner -->
								</article>
								<!-- / .recipe -->
							</div>
							<div role="tabpanel" class="tab-pane fade" id="hc-tab-bookmarks">
								<article class="recipe">
									<div class="entry-inner">
										<div class="entry-media">
											<img src="../../../../../../../Desktop/culinier/images/dishes/dish_2.jpg" alt=""/>
											<div class="entry-action">
												<div class="entry-action-inner">
													<span>
														<a href="../../../../../../../Desktop/culinier/recipe_single.html">VIEW RECIPE</a>
													</span>
													<span>
														<a href="#">BOOKMARK RECIPE</a>
													</span>
												</div>
											</div>
										</div>
										<!-- ./ entry-media -->
										<div class="content-wrapper">
											<h3 class="entry-name"><a href="../../../../../../../Desktop/culinier/recipe_single.html">Khatulistiwa Fruit Salad</a></h3>
											<p class="entry-author">By Lina Sukowati</p>
											<div class="entry-meta">
												<div class="foo-wrapper">
													<span class="meta-difficulty hard" title="">Hard</span>
													<span class="meta-time">3 minutes</span>
												</div>
												<div class="meta-rate" title="4 star">
													<i class="fa fa-star rated"></i>
													<i class="fa fa-star rated"></i>
													<i class="fa fa-star rated"></i>
													<i class="fa fa-star rated"></i>
													<i class="fa fa-star"></i>
												</div>
											</div>
										</div>
										<!-- ./ entry-content -->
									</div>
									<!-- / .entry-inner -->
								</article>
								<!-- / .recipe -->
								<article class="recipe">
									<div class="entry-inner">
										<div class="entry-media">
											<img src="../../../../../../../Desktop/culinier/images/dishes/dish_2.jpg" alt=""/>
											<div class="entry-action">
												<div class="entry-action-inner">
													<span>
														<a href="../../../../../../../Desktop/culinier/recipe_single.html">VIEW RECIPE</a>
													</span>
													<span>
														<a href="#">BOOKMARK RECIPE</a>
													</span>
												</div>
											</div>
										</div>
										<!-- ./ entry-media -->
										<div class="content-wrapper">
											<h3 class="entry-name"><a href="../../../../../../../Desktop/culinier/recipe_single.html">Khatulistiwa Fruit Salad</a></h3>
											<p class="entry-author">By Lina Sukowati</p>
											<div class="entry-meta">
												<div class="foo-wrapper">
													<span class="meta-difficulty hard" title="">Hard</span>
													<span class="meta-time">3 minutes</span>
												</div>
												<div class="meta-rate" title="4 star">
													<i class="fa fa-star rated"></i>
													<i class="fa fa-star rated"></i>
													<i class="fa fa-star rated"></i>
													<i class="fa fa-star rated"></i>
													<i class="fa fa-star"></i>
												</div>
											</div>
										</div>
										<!-- ./ entry-content -->
									</div>
									<!-- / .entry-inner -->
								</article>
								<!-- / .recipe -->
							</div>
						</div>
						<!-- / .tab-content -->
					</div>
				</div>

			</div>
			<!-- / column -->

		</div>
		<!-- / .row -->
	</div>
	<!-- /.row -->
</div>
<!-- / .hs-recipe -->