<section class="ht-section hs-recipes grid">
	<div class="hs-content">
		<div class="container">

			<div class="row">
				<div class="register-form col-md-offset-2 col-md-8 ">
					<div ng-controller="registerController">
			        <div class="title">
			            <h2>Register</h2>
			            <p class="register_warning">If you don't have account yet And a password will be e-mailed to you.</p>
			        </div>
		            <form method="post">
		            <p>
		            	<label>Username</label>	
			            <input type="text" ng-model="username" class="input">
		            </p>
						<p>
							<label>Password</label>
							<input type="password" ng-model="password" class="input">
						</p>
		            <p>
		            	<label>Email</label>
						<input type="email" ng-model="email" class="input">
		            </p>
						<p>
							<label>Firstname</label>
							<input type="text" ng-model="firstname" class="input">
						</p>
						<p>
							<label>Lastname</label>
							<input type="text" ng-model="lastname" class="input">
						</p>
						<p>
							<label>Age</label>
							<input type="text" ng-model="age" class="input">
						</p>
						<p>
							<label>Description *</label>
							<input type="text" ng-model="description" class="input">
						</p>
						<p>
							<label>Allergy *</label>
							<input type="text" ng-model="allergy" class="input">
						</p>
						<p>
							<label>Religion *</label>
							<input type="text" ng-model="religion" class="input">
						</p>
						<p>
		                <input ng-click="register()" type="submit" value="Register" class="button-primary">
		            </p>
		            </form>
					</div>
				</div>
			</div>
		</div><!--./container-->
	</div><!--./hs-content-->
</section>